language: node_js
sudo: required
dist: trusty

git:
  depth: 10

branches:
  only:
    - master
    - /^[0-9]+\.[0-9]+\.[0-9]+.*/

cache:
  directories:
    - node_modules

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - bash <(curl -s https://blackbaud.github.io/skyux-travis/library-before-install.sh)

after_script:
  - bash <(curl -s https://blackbaud.github.io/skyux-travis/library-after-script.sh)

after_success:
  - bash <(curl -s https://blackbaud.github.io/skyux-travis/library-after-success.sh)
