@import '../../styles/_variables';

/deep/
.stache-table-of-contents {
  margin: 1.2em 0;

  .stache-nav-list {
    // list-style-type: decimal !important;
    // margin-left: 15px !important;
    // color: $stache-text-color-default;
  }

  .stache-nav-list-item {
    margin: 0 0 .5em;
    // padding-left: .5em;
    line-height: $stache-line-height-base;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .stache-nav-anchor {
    padding: 1px 5px 1px 0px;
    color: $stache-text-color-deemphasized;
    display: block;
    line-height: $stache-line-height-base;
    &:hover {
      text-decoration: underline;
    }
  }
}

.stache-table-of-contents-wrapper {
  border-left: 4px solid $stache-background-color-primary-dark;
  padding: 6px 0 12px 19px;
}

.stache-table-of-contents-heading {
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: 300;
  color: #282b31;
  display: inline-block;
  line-height: 1.1;
}
